// bower:scss
// endbower

*,
*:before,
*:after {
	box-sizing: border-box;
}

/*------------------------------------*\
  #PAGE WRAPPER
\*------------------------------------*/

.page-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	padding: 1em;
}

/*------------------------------------*\
  #CANVAS
\*------------------------------------*/

.mondrian-canvas {
	width: 100%;
	max-width: 372px;
	height: 100%;
	max-height: 449px;
	border: 6px solid #020001;
	background-color: #fffdfe;
	perspective: 372px;
	transition: all .1s linear;
	transform-style: preserve-3d;
	@extend .clearfix;
}

	.mondrian-canvas--inactive {
		transform: rotateY(0) rotateX(0) !important;
	}

/*------------------------------------*\
  #COLUMNS
\*------------------------------------*/

.mondrian-canvas__col {
	height: 100%;
}

/*------------------------------------*\
  #BLOCKS
\*------------------------------------*/

.block {
	border: 6px solid #020001;
}

/*------------------------------------*\
  #LEFT COLUMN
\*------------------------------------*/

.mondrian-canvas__col--left {
	float: left;
	width: 24%;
}

	.block--1 {
		height: 22%;
		border-bottom-width: 14px;
	}

	.block--2 {
		height: 50%;
	}

	.block--3 {
		height: 100% - 50 - 22 + .01;
		background-color: #0d0caf;
	}

/*------------------------------------*\
  #RIGHT COLUMN
\*------------------------------------*/

.mondrian-canvas__col--right {
	float: right;
	width: 100% - 24%;
}

	.block--4 {
		height: 50% + 22%;
		background-color: #fe0000;
	}

	.col--right__bottom {
		height: 100% - 50 - 22 + .01;
		@extend .clearfix;
	}

		.bottom__block {
			height: 100%;
		}

		.block--5 {
			float: left;
			width: 80%;
		}

		.bottom__block--group {
			float: right;
			width: 20%;
		}

			.block--6 {
				height: 44%;
			}

			.block--7 {
				height: 100% - 44%;
				background-color: #fefe00;
			}


/*------------------------------------*\
  #HELPERS
\*------------------------------------*/

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}