// bower:scss
// endbower

*,
*:before,
*:after {
	box-sizing: border-box;
}

/*------------------------------------*\
  #MIXINS
\*------------------------------------*/
@mixin column($width) {
	float: left;
	width: $width;
}

/*------------------------------------*\
  #PAGE WRAPPER
\*------------------------------------*/

.page-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

/*------------------------------------*\
  #CANVAS
\*------------------------------------*/

.mondrian-canvas {
	width: 100%;
	max-width: 372px;
	height: 100%;
	max-height: 449px;
	border: 5px solid #020001;
	background-color: #fffdfe;
	transform-style: preserve-3d;
	backface-visibility: hidden;
}

/*------------------------------------*\
  #BLOCKS
\*------------------------------------*/

.block {
	border: 5px solid #020001;
}

.block--largebottom {
	border-bottom-width: 14px;
}

/*------------------------------------*\
  #TOP ROW
\*------------------------------------*/

.mondrian-canvas__top {
	height: 72%;
	@extend .clearfix;
}

	.top__col {
		height: 100%;
	}

	.top__col--left {
		height: 100%;
		@include column(23%);
	}

		.block--1 {
			height: 31%;
		}

		.block--2 {
			height: 69%;
		}

	.top__col--right {
		height: 100%;
		@include column(77%);
	}

		.block--3 {
			height: inherit;
			background-color: #fe0000;
		}

/*------------------------------------*\
  #BOTTOM ROW
\*------------------------------------*/

.mondrian-canvas__bottom {
	height: 28%;
	@extend .clearfix;
}

	.bottom__col {
		height: 100%;
	}

	.bottom__col--1 {
		@include column(23%);
	}

		.block--4 {
			height: inherit;
			background-color: #0d0caf;
		}

	.bottom__col--2 {
		@include column(60%);
	}

		.block--5 {
			height: inherit;
		}

	.bottom__col--3 {
		@include column(17%);
	}

		.block--6 {
			height: 45%;
		}

		.block--7 {
			height: 55%;
			background-color: #fefe00;
		}


/*------------------------------------*\
  #HELPERS
\*------------------------------------*/

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}